body {
    background-color: #252525;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #ffffff;
}

header {
    width: 100%;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

.portfolio h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #ffffff;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.social-media {
    margin-top: 20px;
}

.social-media p {
    margin: 5px 0;
    color: #d4af37;
    font-size: 18px;
}



body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background: #3B4E3E;
    color: #fff;
    padding: 1rem 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin-left: 1rem;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header nav ul li a.get-in-touch {
    background: #ffb703;
    color: #2d2d2d;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

